nav{
	padding-left:350px;
	float:right;
	background-color:#e4e4e4;
}
header{
	min-width: 400px;
	min-height: 250px;
}

a{
	display: inline-block;
	color:white;
	text-decoration:none;
}
li{
	padding:10px;
	text-align:center;
	background-color:#e4e4e4;
	list-style-type:none;
}

#message{
	display:none;
}

#toSlow{
	display:none;
}

#toFast{
	display:none;
}