/* GENERAL */
* {
	margin: 0px;
	padding: 0px;
}

html,body {
	background: #F7F7F7;
	font-size: 18px;
	text-decoration: none;
	color: #666666;
	height: 100%;
  width:100%;
	/* bakrunnseffekter: #EDEDED */
}
/*Navigation field that contains dropdown menu button*/
nav img{
	padding-left:350px;
	float:right;
	background-color:#e4e4e4;
	width: 50px;
	height: 50px;
}
/*Header tag*/
header{
	width: 100%;
	height: 250px;
	background:grey;
}
/*anchor tag that contains items in the dropdown menu*/
a{
	display: inline-block;
	color:white;
	text-decoration:none;
}
/*list that contain anchor tag. Drops down when pressing menu button*/
li{
	padding:10px;
	text-align:center;
	background-color:#e4e4e4;
	list-style-type:none;
}







/* BRYNJAR SIN KNAPP */
.kul {
color: red;
background: blue;
font-weight: bold;}
