{% extends 'teacher/teacher.html' %}
{% load staticfiles %}
{% block content %}


<script type="text/javascript" src="{% static 'javascript/teacher.js' %}"></script>
<h2>Current Lecture</h2>
<h1>ID: <span id="lectureid">{{lecture.id}}</span></h1>
{% include 'teacher/lecturespeed.html' %}
<button onclick="endlecture('{% url 'endlecture' %}', {{lecture.id}})">End Lecture</button>

{% include 'teacher/tasksummary.html' %}

<h1>Tasks for this lecture</h1>
{% for task in tasks %}
  <div class="lecturelist"> {{task.description}}  <button class="start starttask" onclick="starttask({{task.id}}, {{task.timeout}})">Start Task</button></div>
{% endfor %}

<ul>
    {% for question in all_questions %}
        <li> Question: {{ question.question }} ({{question.value}})</li>
		<li> Answer: {{ question.answer }} <button onclick="location.href='{% url 'answer_question' question.id %}'"> Answer question </button></li>
    {% endfor %}

  </ul>

{% endblock content %}
