{% load staticfiles %}
<header>
	<div class="contentalignment"></div>
	<a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a>
	<img src="{% static 'images/title.png' %}">
	<img src="{% static 'images/DropDownBtn.png' %}" id="dropDownBtn">
	<div name="navigasjon" id="liste">
		<ul>
			<li>
				<a href="{% url 'register' %}">Register New User</a>
			</li>
			<li>
				<a href="{% url 'login' %}">Login</a>
			</li>
			<li>
				<a href="{% url 'courses' %}">Courses</a>
			</li>
			<li>
				<a href="{% url 'lecturespeed' %}">Lecture Speed</a>
			</li>
		</ul>
	</div>
</header>
