{% load staticfiles %}
<header>
	<div class="contentalignment"></div>
	<a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a>
	<img src="{% static 'images/title.png' %}">
	<img src="{% static 'images/DropDownBtn.png' %}" id="dropDownBtn">
	<div name="navigasjon" id="liste">
		<ul>
			{% if not request.user.is_authenticated %}
			<li onclick="location.href='{% url 'register' %}'">
				Register New User
			</li>
			<li onclick="location.href='{% url 'login' %}'">
				Login
			</li>
			{% endif %}
			{% if request.user.is_authenticated %}

			<li onclick="location.href='{% url 'courses' %}'">
				Courses
			</li>
			<li onclick="location.href='{% url 'logout' %}'">
				Logout
			</li>
			 {% endif %}
			 <li onclick="location.href='{% url 'about_teacher' %}'">
 				About
 			</li>
		</ul>
	</div>
</header>
