{% extends 'teacher/teacher.html' %}
{% load staticfiles %}
{% block content %}

{% if not request.user.is_authenticated %}
<p>
	Log in to receive real-time notifications about your lecturing speed and
	read (and answer) student questions. You can also create questionnaires
	or tasks for use within lectures, with automatic validation and a
	summary of student performance.
</p>
{% else %}
<p>
	Welcome to Thoth. Use the menu above to add and manage your courses and lectures!
</p>
<p>
	<div id="bsh-demo3"><input class="tgl-sw tgl-sw-light" id="light-demo3" type="checkbox"><label class="btn-switch" for="light-demo3" id="sw-light-685444" data-state="false"></label></input>
		<div id="permission">Give permission to show notifications</div>
	</div>
</p>

{% endif %}







{% endblock content %}
