{% extends 'teacher/teacher.html' %}
{% load staticfiles %}
{% block content %}
<div id="bsh-demo3"><input class="tgl-sw tgl-sw-light" id="light-demo3" type="checkbox"><label class="btn-switch" for="light-demo3" id="sw-light-685444" data-state="false"></label></input>
	<div id="permission">Give permission to show notifications</div>
</div>
  <p>
		Welcome lecturer. Here you will find ways to receive interactive feedback
    from your puny minions. But first you must
    log in. If you do not have a user, create one in the menu above.
	</p>




{% endblock content %}
