{% extends 'teacher/teacher.html' %}
{% load staticfiles %}
{% block content %}

  {{course.name}}
  <button onclick="location.href='{% url 'addlecture' course.id %}'"> Add lecture </button>

  <p>
		A list of your lectures:
	</p>

  {% for lecture in lectures %}
    <div class="lecturelist">ID: {{lecture.id}},  <a href="{% url 'lecture' lecture.id %}">{{lecture.name}}</a><button onclick="location.href='{% url 'startlecture' lecture.id %}'" class="start"> Start lecture </button><br/></div>
  {% endfor %}

  <p>
		Questions related to this course:
	</p>

{% endblock content %}
