{% extends 'teacher/teacher.html' %}
{% load staticfiles %}
{% block content %}

  <h1>Lectures in the course {{course.name}}</h1>


<div id="addnewform">
  <h3>Add a new Lecture</h3>
  <form action="" method="post">
    {% csrf_token %}
    <button class="addquestion">Add</button>
    {{form.as_p}}

  </form>
</div>
  {% for lecture in lectures %}
    <div class="classlist" onclick="location.href='{% url 'lecture' lecture.id %}'">
      ID: {{lecture.id}},
        {{lecture.name}}
    </div>
  {% endfor %}

{% endblock content %}
