{% extends 'teacher/teacher.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col md-7">
            <div class="panel panel-default">
			   <form class="form-horizontal" action="/login/" method="post">
			                      {% csrf_token %}
								  {% if form.non_field_errors %}
								      <ul class='form-errors'>
								          {% for error in form.non_field_errors %}
								              <li style="border: none; color: #ff9999;">{{ error }}</li>
								          {% endfor %}
								      </ul>
								  {% endif %}
					 			   <label for="id_username">Username:</label>
					                {{ form.username }}
									<br>
					   		 	 	<label for="id_password">Password:</label>
					                  {{ form.password }}
			                      <div class="form-group">
			                          <div class="col-sm-offset-2 col-sm-10">
			                              <button type="submit" class="btn btn-success" id="login">Login</button>
			                          </div>
			                      </div>
							  </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
