{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <TITLE> Teacher page </TITLE>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylemediaquery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/updown.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/choice.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script type="text/javascript" src="{% static 'javascript/loginmessage.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/header.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/choice.js' %}"></script>
	
</head>
<body>
	{% include 'teacher/header.html' %}
  <div id="wrapper">

  {% block content %}{% endblock %}

  </div>
</body>
</html>
