{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <TITLE> Teacher page </TITLE>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/teacher.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script type="text/javascript" src="{% static 'javascript/teacher.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/header.js' %}"></script>
</head>
<body>
	{% include 'teacher/header.html' %}
<div id="wrapper">

    {% if request.user.is_authenticated %}
        <p>logged inn as {{ user.get_username }}</p>
    {% endif %}
  {% block content %}{% endblock %}

</div>
</body>
</html>
