@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Kanit');

/* GENERAL (Removes unwanted problems) */

* {
	margin: 0px;
	padding: 0px;
}

/* General background and setup for the entire page*/
html,body {
	background: #F7F7F7;
	font-size: 7vw;
	text-decoration: none;
	color: #666666;
	height: 100vh;
  width:100vw;
	font-family: 'Kanit','Cormorant Garamond', serif;
	/* bakrunnseffekter: #EDEDED */
}

#wrapper{
	width:90%;
	margin: 5%;
	text-align: center;
	box-sizing: border-box;
}

/*Header tag*/
header{
	width: 100%;
	min-height: 15vw;
	background:grey;
	border-bottom: 1px solid #a0a09f;
	box-sizing: border-box;
	padding-left: 1vw;
}

header img{
	height: 12vw;;
	background:grey;
	padding: 2vw;
}

/*Navigation field that contains dropdown menu button*/
#dropDownBtn{
	float:right;
}

header h2{
	padding: 5px;
	font-size: 10vw;
	display: inline;
}

ul{
}

/*anchor tag that contains items in the dropdown menu*/
a{
	display: inline-block;
	color:black;
	text-decoration:none;
}

/*list that contain anchor tag. Drops down when pressing menu button*/
li{
	border-top: 1px solid #a0a09f;
	padding:10px;
	text-align:center;
	background-color:#e4e4e4;
	list-style-type:none;
}

li:hover{
	background-color:#F7F7F7;
}


#liste{
	display:none;
}
/* All the buttons on the page */

button {
  height: 20vw;
  min-width: 80vw;
	margin:5px;
  background-color: lightgrey;
  border-radius: 10px;
  font-size: 5vw;
  text-decoration: none;
}

button:hover{
	cursor:pointer;
	background-color: #e4e4e4;
}

#message{
	display:none;
}

.thoth{
	width:40vw;
	float: right;
	margin-right:5vw;
	margin-bottom:2vw;
}

p{
	margin:5vw;
}

.start{
	width:20px;
	height:40px;
	border-radius: 0%;
	float:right;
	margin-top:0px;
}

.lecturelist{
	background:grey;
	padding:20px;
	width:100%;
}

.lecturelist:nth-child(even){
	background:white;
}
