@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Kanit');

/* GENERAL (Removes unwanted problems) */

* {
	margin: 0px;
	padding: 0px;
}


/*************************************************
General background and setup for the entire page
*************************************************/
html,body {
	background: #F7F7F7;
	font-size: 7vw;
	text-decoration: none;
	color: #666666;
	height: 100vh;
  	width:100vw;
	font-family: 'Kanit','Cormorant Garamond', serif;
	background-image:  url("/static/images/hieroglyph.png"),url("/static/images/pyramids.png");
	background-repeat:  repeat,no-repeat;
	background-size: auto,100%;
	background-position: bottom;
}

#wrapper{
	width:90%;
	margin: 5%;
	text-align: center;
	box-sizing: border-box;
}

h1{font-size:40px;}

/*************************************************
HEADER
*************************************************/
header{
	width: 100%;
	min-height: 15vw;
	background: #777777;
	background: linear-gradient(rgba(0, 0, 0, 0.1), #777777);
	border-bottom: 1px solid #a0a09f;
	box-sizing: border-box;
	padding-left: 1vw;
}

header img{
	height: 12vw;
	padding: 2vw;
}


/*************************************************
DROP DOWN MENU
Navigation field that contains dropdown menu button
*************************************************/
#dropDownBtn{
	float:right;
}

header h2{
	padding: 5px;
	font-size: 10vw;
	display: inline;
}

ul{
}

/*anchor tag that contains items in the dropdown menu*/
a{
	display: inline-block;
	color:black;
	text-decoration:none;
}

/*list that contain anchor tag. Drops down when pressing menu button*/
li{
	border-top: 1px solid #a0a09f;
	padding:10px;
	text-align:center;
	background-color:#e4e4e4;
	list-style-type:none;
	margin-left:-5px;
}

li:hover{
	background-color:#F7F7F7;
	cursor:pointer;
}


#liste{
	display:none;
}

/*************************************************
ALL THE PAGE BUTTONS
*************************************************/

button, .button {
	height: 40px;
	min-width: 100px;
	margin:5px;
	color: grey;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	font-size: 18px;
	padding:5px;
	border: 1px solid grey;
	text-decoration: none;
	box-sizing:border-box;
}


button:hover,.button:hover{
	cursor:pointer;
	background-color: #e4e4e4;
}

.frontpagebutton {
  height: 20vw;
  min-width: 80vw;
	margin:5px;
  background-color: lightgrey;
  border-radius: 10px;
  font-size: 5vw;
  text-decoration: none;
}

.addnew{
  width:100px;
  height:50px;
  float:right;
	font-size: 16px;
	padding:2px;
}

#addtextanswer,#addoptions{
  width:300px;
  height:50px;
	display:inline-block;
	font-size:20px;
	padding:5px;
}

.addnew,
#addtextanswer,
#addoptions{
	box-sizing: border-box;
  background:lightgrey;
  background: rgba(0, 0, 0, 0.1);
	background-image:  url("/static/images/add.png");
	background-repeat: no-repeat;
	background-size:contain;
  border-radius:5px;
	padding-left:40px;
  margin:5px;
	border: 1px solid grey;
}
.addnew:hover,
#addtextanswer:hover,
#addoptions:hover{
  cursor:pointer;
  color:white;
	background:darkgrey;
	background-image:  url("/static/images/addhover.png");
	background-repeat: no-repeat;
	background-size:contain;
}



/*************************************************
Various things
*************************************************/
#message{
	display:none;
}

.thoth{
	width:40vw;
	float: right;
	margin-right:5vw;
	margin-bottom:2vw;
}

p{
	margin:5vw;
}

.start{
	width:20px;
	height:40px;
	border-radius: 0%;
	float:right;
	margin-top:0px;
}

.enter{
	background:lightgrey;
	width:70vw;
	max-width:200px;
	height:45px;
	box-sizing: border-box;
	padding:5px;
	font-size:18px;
	text-align: center;
}

/*************************************************
LIST COLOURATION
*************************************************/
.lecturelist{
	background:#ededed;
	padding:20px;
	width:100%;
	border:1px solid #d1d1d1;
	max-width:100%;
	box-sizing: border-box;
}

.lecturelist:nth-child(even){
	background:#dbdbdb;
	border:1px solid #d1d1d1;
}

.studenttasks{
	display:none;
}

.classlist{
	width:100%;
	background: rgba(229, 224, 211, 0.5);
	border:1px solid #d1d1d1;
	padding:20px;
	box-sizing: border-box;
}

.classlist:nth-of-type(2n){
	background: rgba(226, 213, 208, 0.5);
}

.classlist:hover{
	color:darkgrey;
	background:lightgrey;
	cursor:pointer;
}



/***************************************
Student page grey header
***************************************/
#topinfo{
	width:100%;
	padding:5px;
	padding-left: 2%;
	padding-right:2%;
	background:lightgrey;
	font-size:14px;
	height:auto;
	box-sizing: border-box;
}

/***************************************
QUESTIONS
***************************************/
.questiondiv{
	width:100%;
	background: rgba(222,230,232, 0.5);
	border: 1px solid #d6d4d4;
	min-height: 90px;
	height:auto;
	max-height: auto;
	margin-top:5px;
}
.answerdiv, .apiAnswer{
	width:100%;
	color:#8e8e8e;
	border:1px solid #d8d6d6;
	border-top:none;
	min-height: 90px;
	height:auto;
	max-height: auto;
	font-size:18px;
}

.answerdiv{
	background: rgba(223,229,213, 0.5);
}

.apiAnswer{
	background: rgba(234,232,227, 0.5);
}

.questionvoting{
	float:right;
	min-height:90px;
	margin-right:0px;
	padding:0px;
	font-size:15px;
}

.questionvotebtn{
	margin:0px;
	padding:5px;
	background:none;
	border:none;
	font-weight:bold;
}

.questionvotebtn:hover{
	color:grey;
	cursor: pointer;
}

.headerimages{
	max-height:40px;
	padding:0px;
	margin:0px;
	background:none;
}


/***************************************
LECTURE and ACTIVE LEVCTURE
:content placers
***************************************/

#maincontent{
	min-width:100%;
	height:auto;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin:0px;
	padding:0px;
	font-size:18px;
}

#maincontent p{
	min-width:100%;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	margin:0px;
	padding:0px;
	margin-bottom: 10px;
	font-size:18px;
}


#mainside{
	width:100%;
	float:none;
	margin-right:none;
	margin-bottom:10px;
}

#aside{
	width:100%;
	float:none;
	margin-right:none;
	margin-bottom:10px;
}

#mainside h1, #aside h1, #maincontent h1{
	border: 1px solid #d1d1d1;
  background: rgba(0, 0, 0, 0.1);
	width:100%;
}

/***************************************
TASK FORM CONTENT
***************************************/



#addtask{
	width:100%;
	background: rgba(0, 0, 0, 0.1);
	min-height:20px;
	border:1px solid #d1d1d1;
}


#addtask h1{
	margin:0px;
	padding:0px;
}

#addtask{
	display:none;
}

#optionsfield, #textanswerfield, #timer,#taskname,#addquestionform{
	margin-bottom:5px;
	margin-top:10px;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background:lightgrey;
	background: rgba(0, 0, 0, 0.1);
	border-radius:5px;
	padding:5px;
	border: 1px solid grey;
}


#id_question,#id_description, #id_textanswer, #id_option1, #id_option2, #id_option3, #id_option4{
	max-width:80%;
	margin-left: auto;
	margin-right: auto;
	min-height:40px;
	font-size: 20px;
	padding-left:5px;
	background: rgba(255, 255, 255, 0.5);
	border-color: darkgrey;
	text-align:center;
	margin-top: 5px;
}

#id_description, #id_textanswer{
	width:80%;
}


#addtask p{
	min-width:80%;
	max-width:80%;
	margin-left: auto;
	margin-right: auto;
}
/***************************************
ASK QUESTIONS FORM
***************************************/
#addquestionform{
	height:100px;
	width:100%;
}

#addquestionform label, #addnewform label{
	display:none;
}

#addquestionform p{
	margin:0px;
	padding:0px;
}

#id_question{
	margin-top:20px;
	border-radius: 5px;
	max-width:55vw;
	height:48px;
	font-size:18px;

}

#addquestionform .addnew{
	margin-top:20px;
}
/***************************************
QUESTIONS LIST
***************************************/
.questiondiv{
	height:auto;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
}

.votingsystem{
	float:right;
	width:10%;
	font-size:18px;
	height:90px;
	box-sizing: border-box;
}

.questionpresentation{
	text-align: center;
	max-width:90%;
	width:90%;
	font-size:18px;
	padding:10px;
	margin:0px;
	box-sizing: border-box;
}

.profilepic{
	display:inline;
	float:left;
	width:50px;
	font-size:12px;
	padding-top:7px;
	line-height: 10px;
	box-sizing: border-box;
	padding-left:5px;
	padding-right:5px;
	height:90px;
}

.profilepic img{
	padding-top:10px;
	height:40px;
}

.addquestion{
	width: 50px;
	min-width:50px;
	height: 50px;
	float: right;
	font-size: 16px;
	padding: 5px;
	border-radius:50%;
	margin-top:15px;

}

/***************************************
COURSE LIST
***************************************/

#addnewform{
	text-align:center;
	box-sizing: border-box;
	margin-bottom:5px;
	margin-left: auto;
	margin-right: auto;
	height:120px;
	width:100%;
	background: rgba(0, 0, 0, 0.1);
	border-radius:5px;
	border: 1px solid grey;
}

#addnewform p{
	margin:0px;
	padding:0px;
	margin-top:10px;
}

#addnewform .addquestion{
	margin-top:-5px;
}

#addnewform h3{
	width:100%;
	background: rgba(0, 0, 0, 0.1);
	font-size:20px;
}
#id_name, {
	margin-left:10px;
	margin-top:5px;
	border-radius: 5px;
	max-width:50%;
	width:50%;
	font-size:18px;
}

.idbox{
	background: rgba(255, 255, 255, 0.5);
	width:70px;
	height:70px;
	border-radius:  5px;
	font-size:16px;
	float:right;
	margin-top:10px;
}
