
{% extends 'student/student.html' %}
{% load staticfiles %}
<script src="{% static 'javascript/student.js' %}"></script>
<meta charset="UTF-8">
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

	<script src="{% static 'javascript/header.js' %}"></script>
	<script src="{% static 'javascript/student.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/student.css' %}">
</head>
<body>
	{% include 'student/header.html' %}
	<div id="wrapper">

		{% block content %}
			<h3>Questions</h3>
			<ul>
				{% for question in all_questions %}
					<li>{{ question.question }} - {{ question.answer }}</li>
				{% endfor %}
			</ul>

			<form action="{%url 'questions' %}" method="post">
				{% csrf_token %}
				{{ form.as_p }}

				<label>Type a quesiton here</label>
				<input type = "text" name="questionfield"/>
				<input type="submit" name="submit" />
			</form>
		{% endblock %}
	</div>
</body>
</html>